.board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    background-color: #bbada0;
    border-radius: 6px;
    padding: 15px;
    width: 500px;
    height: 500px;
    
}