body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

body {
    background-image: url('../back.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app {
    background-color: rgba(250, 248, 239, 0.8); /* Fundo semi-transparente */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

h1 {
    font-size: 48px;
    color: #776e65;
    margin-bottom: 20px;
}

.score {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #776e65;
    padding: 10px 20px;
    
    /* Novas propriedades */
    background: rgba( 255, 255, 255, 0.05 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

button {
    font-size: 18px;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #8f7a66;
    color: #f9f6f2;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #9f8b77;
}

.game-over {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(238, 228, 218, 0.9);
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}

.game-over h2 {
    font-size: 36px;
    color: #776e65;
    margin-bottom: 20px;
}

.game-over p {
    font-size: 24px;
    color: #776e65;
    margin-bottom: 30px;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.score-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.score, .best-score {
    font-size: 24px;
    font-weight: bold;
    color: #776e65;
    padding: 10px 20px;
    
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(0.5px);
    -webkit-backdrop-filter: blur(0.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}